@CHARSET "utf-8";

@media screen {
	body {
		background-color: #FFFF;
		padding: 0px;
		height: 100%;
		font-family: "Trebuchet MS", Helvetica, sans-serif;
	}
}

@media handheld {
	body {
		background-color: #FFFF;
		padding: 0px;
		height: 100%;
		font-family: "Trebuchet MS", Helvetica, sans-serif;
		font-size: 40%;
	}
}