@CHARSET "UTF-8";

.fiftyfifty {
   border-collapse:collapse;
   width:100%;
} 
.fiftyfifty.one {
   border:none;
   outline:none;
   width:50%;
   margin:auto;
}
.fiftyfifty.two {
   border:none;
   outline:none;
   width:50%;
   margin:auto;
}

.twentyeighty {
   border-collapse:collapse;
   width:100%;
}
.twentyeighty.one {
   border:none;
   outline:none;
   width:20%;
}
.twentyeighty.two {
   border:none;
   outline:none;
   width:80%;
}