@CHARSET "utf-8";

body {
	background-color:#66FFFF;
	padding: 0px;
	height: 100%
	
}

header {
	display: block;
	margin: 0 auto;
	width: 900px;
	background-color:white;
	
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-topright: 10px;
	-moz-border-radius-bottomright: 10px;
	-moz-border-radius-bottomleft: 10px;

	-webkit-border-top-left-radius: 10px;
	-webkit-border-top-right-radius: 10px;
	-webkit-border-bottom-right-radius: 10px;
	-webkit-border-bottom-left-radius: 10px;
	
	border-bottom: solid 1px;
}

nav {
	backgroud-color: #fff;
	border: none;
	box-shadow: 0 2px 2px -1px rbga(0, 0, 0, 0.055);
	display: block;
	overflow: hidden;
	width: 100%;
}

nav ul {
	margin: 0;
	padding: 0;
	width: 100%;
	display: table;
}

nav ul li {
	display: table-cell;
	text-align: center;
	list-style-type: none;
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-ms-transition: all 0.2s;
	-o-transition: all 0.2s;
	transition: all 0.2s;
	margin-right: 2px;
}

nav>ul>li>a {
	color: #aaa;
	display: block;
	line-height: 56px;
	padding: 0 24px;
	text-decoration: none;
}

nav>ul>li:hover {
	background-color: rgb(200, 200, 200);
}

nav>ul>li:hover>a {
	color: rgb(255, 255, 255);
}

nav>ul>li:hover>a>.caret {
	border-top-color: rgb(255, 255, 255);
}

nav button {
	background-color: transparent;
	border: none;
	
}

.content {
	display: block;
	margin: 0 auto;
	width: 900px;
	background-color:white;
	
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-topright: 10px;
	-moz-border-radius-bottomright: 10px;
	-moz-border-radius-bottomleft: 10px;

	-webkit-border-top-left-radius: 10px;
	-webkit-border-top-right-radius: 10px;
	-webkit-border-bottom-right-radius: 10px;
	-webkit-border-bottom-left-radius: 10px;
}

#contentFrame {
	border: 0;
	overflow:hidden;
	width: 900px;
	height: 600px;
}

.logo {
	display: block;
	margin-left: auto;
	margin-right: auto;
	border:none;
}

footer {
	margin: 0 auto;
	background-color:white;
	width: 900px;
	height: 100%
	border: 0;
	display: block;
	padding: 0px;
	
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-topright: 10px;
	-moz-border-radius-bottomright: 10px;
	-moz-border-radius-bottomleft: 10px;

	-webkit-border-top-left-radius: 10px;
	-webkit-border-top-right-radius: 10px;
	-webkit-border-bottom-right-radius: 10px;
	-webkit-border-bottom-left-radius: 10px;
	
	}
	
	#header h1 {
	margin: 0 auto;
	}